*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.header{
    display:flex;
    align-items: center;
    background-color:#f4cd0a;
    height: 100px;
}

.header h1{
    background-color:#ff1d58;
    color:#f4cd0a;
    padding: 12px;
}

.header img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
}

.links{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}


.name {
    display:flex;
    max-width: fit-content;
    border: 1px #ff1d58 solid;
    background-color: #ff1d58;
    padding: 12px;
    color: #f4cd0a;
    position: relative;
    left: 47px;
}

.name img{
    display: flex;
    position: relative;
    max-width: 10%;
    border-radius: 50%;
} 


nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    margin-right: 20px;
    color: #ff1d58;
    font-weight: bold;
    text-decoration: underline;
}

nav a:hover {
    color: #107ee6;
}

.figure {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

.figure h1 {
    position: absolute;
    right: 30px;
    top: 215px;
    border: 1px #ff1d58 solid;
    background-color: #ff1d58;
    padding: 12px;
    color: #f4cd0a;
    max-width: fit-content;
}


aside {
    display: block;
    color: #ff1d58;
    padding-right: 10px;
    text-align: right;
    width: 25%;
    border-right: 3px solid #00DDFF;
    float: left;
    justify-content: flex-end;
}

section p {
    flex: 1 1 0;
    padding-right: 5%;
    align-items: flex-end;
}

.projects {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

#feature header{
    max-width: fit-content;
    padding: 20px;
    color: #ff1d58;
    position: relative;
    bottom: -180px;
    right: 2px;  
}

#feature img{
    max-width: 100%;
    border: 2px #f4cd0a solid;
}


/* .card {
    border: 2px #f4cd0a solid;
    padding: 0px;
    flex: 0 0 400px;
    width: 75%;
} */

.card header {
    max-width: fit-content;
    padding: 20px;
    color: #ff1d58;
    position: relative;
    bottom: -180px;
    right: 2px;
}

.card header h3 {
    font-size: small;
}

.card img {
    max-width: 50%;
    border: 2px #f4cd0a solid;
    flex: 0 0 400px;
    display: inline;
}

footer nav ul li{
    float: right;
    justify-content: space-evenly;
}
@media screen and (max-width: 645px) {
    .header {
        flex-direction: column;
        height: 500px;
    }
    .header img{
        flex-direction: column;
        max-height: 25%;
        max-width: 25%;
    }

    main {
    max-width: 1200px;
    }
}