*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1%;
    background-color: #f4cd0a;
;
}

h1 {
    font-size: 200%;
}

.name {
    display:block;
    min-width: 200px;
    border: 1px #ff1d58 solid;
    background-color: #ff1d58;
    padding: 12px;
    color: #f4cd0a;
    position: relative;
    left: -13px;
}


nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    margin-right: 20px;
    color: #ff1d58;
    font-weight: bold;
    text-decoration: underline;
}

nav a:hover {
    color: #107ee6;
}

.figure {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

.figure h1 {
    position: absolute;
    right: 30px;
    top: 215px;
    border: 1px #ff1d58 solid;
    background-color: #ff1d58;
    padding: 12px;
    color: #f4cd0a;
    max-width: fit-content;
}

aside {
    color: #ff1d58;
    padding-right: 10px;
    text-align: right;
    width: 25%;
    border-right: 3px solid #00DDFF;
    float: left;
    justify-content: flex-end;
}

section p {
    flex: 1 1 0;
    padding-right: 5%;
    align-items: flex-end;
}

.projects {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

#feature{
    width: 75%;
}

/* .card {
    border: 2px #f4cd0a solid;
    padding: 0px;
    flex: 0 0 400px;
    width: 75%;
} */

.card header {
    max-width: fit-content;
    padding: 20px;
    color: #ff1d58;
    position: relative;
    bottom: -180px;
    right: 2px;
    
}

.card header h3 {
    font-size: small;
}

.card img {
    width: 75%;
    border: 2px #f4cd0a solid;
    flex: 0 0 400px;
    display: inline;
}

footer nav ul li{
    float: right;
    justify-content: space-evenly;
}
@media screen and (max-width: 645px) {
    header {
        flex-direction: column;
        justify-content: left;
    }

    main {
    max-width: 1200px;
    }
}