*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin: 0;
}

.header{
    display:flex;
    align-items: center;
    background-color:#f4cd0a;
    height: 100px;
}

.header h1{
    background-color:#ff1d58;
    color:#f4cd0a;
    padding: 12px;
}

.header img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
}

.header-title{
    display: flex;
    width: 100%;
    height: 100%;
}

.links{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 700;
}

.links a{
    color:#ff1d58;
}

.links :hover {
    color: #107ee6;
}


main {
    max-width: 1200px;
}

.figure{
    display: flex;
    position: relative;
    height: 150px;
    background-color: aqua;
    margin: 0px;
}

.figure img{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

.figure-label{
    position: absolute;
    bottom: 10px;
    right: 25px;
    color: #f4cd0a;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f4cd0a;
}

.side-title{
    display: flex;
    color:#ff1d58;
    background-color: #f4cd0a;
    width: 15%;
    padding-right: 20px;
    justify-content: flex-end;
    border-right: 3px #107ee6 solid;
}

.section{
    display:flex;
    margin-block: 20px;
}

.section-content{
    padding:20px;
    width: 80%;
}

.project-1{
    display:flex;
    position: relative;
}

.image-large{
    display: flex;
    max-width: 100%;
    border: 3px solid #ff1d58;
    position: relative;
}

.image-large-title{
    position: absolute;
    bottom: 20px;
    left:0;
    color: #f4cd0a;
    background-color: #ff1d58;
}

.image-small{
    width: 100%;
    position: relative;
    border: 3px solid #ff1d58;

}

.gallery{
    position: relative;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-images{
    display: flex;
    position: relative;
    width: 46%;
    padding: 10px;
}

.image-small-title{
    position: absolute;
    bottom: 20px;
    left:10px;
    font-size: 20px;
    color: #f4cd0a;
    background-color: #ff1d58;
}

.contact-links{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 700;
}

.contact-links a{
    color:#ff1d58;
    font-size: large;
}

.contact-links :hover {
    color: #107ee6;
}


@media screen and (max-width: 800px) {
    .gallery-images{
        width: 100%;
    }
}

@media screen and (max-width: 725px) {
    .header {
        flex-direction: column;
        height: 100%;
    }
    .header-title img{
        display: flex;
        flex-direction: row;
        max-height: 25%;
        max-width: 25%;
    }

    .header-title{
        display: flex;
        align-items: center;
    }

    .header-title h1{
        padding:12px;
    }

    .links{
        background-color: #ff1d58;

    }
    .links a {
        color:#f4cd0a;
    }
}

@media screen and (max-width: 600px){
    .side-title{
        font-size: small;
    }
    .image-large-title{
        font-size: 6px;
    }
    .image-small-title{
        font-size: 12px;
    }
}

@media screen and (max-width: 530px){
    .side-title {
        font-size: x-small;
    }
}

@media screen and (max-width: 375px){
    .side-title {
        font-size: xx-small;
    }
    .figure-label{
        color:#ff1d58;
    }
}
