/* css variable assignment */
:root {
    --background: #f4cd0a;
    --text: #ff1d58;
    --accent: #107ee6;
    --shadow: #d3003f;
}

/* font family defined */
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* formats header */
.header{
    display:flex;
    background-color:var(--background);
    height: 100px;
}

.header h1{
    background-color:var(--text);
    color:var(--background);
    padding: 12px;
    margin: 12px;
    height: fit-content;
}

.header img{
    max-width: 100%;
    max-height: 100%; 
}

.header-title{
    display: flex;
    width: 100%;
    height: 100%;
}

/* formats nav bar within header */
.links{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 700;
}

.links a{
    color:var(--text);
}

/* creates hover animation */
.links :hover {
    color: var(--accent);
}

/* formats figure below header */
.figure{
    position: relative;
    height: 150px;
}

.figure img{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

.figure-label{
    position: absolute;
    bottom: 10px;
    right: 25px;
    color: var(--background);
}

/* formats body */
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background);
}

/* formats section headings */
.side-title{
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    color:var(--text);
    background-color: var(--background);
    width: 15%;
    padding-right: 20px;
    justify-content: flex-end;
    border-right: 3px var(--accent) solid;
}

/* formats section content */
.section{
    display:flex;
    margin-block: 20px;
    font-size: large;
}

.section-content{
    padding:20px;
    width: 80%;
    color: var(--text);
    font-size: larger;
}

.project-1{
    display:flex;
    position: relative;
}

/* formats large image */
.image-large{
    display: flex;
    max-width: 100%;
    border: 3px solid var(--text);
    position: relative;
}

/* formats title of large image */
.image-large-title{
    position: absolute;
    bottom: 20px;
    left:0;
    color: var(--background);
    background-color: var(--text);
}

/* formats section containing small images */
.gallery{
    position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.gallery-images{
    display: flex;
    position: relative;
    width: 46%;
    padding: 10px;
}

/* formats small images */
.image-small{
    width: 100%;
    height:100%;
    position: relative;
    border: 3px solid var(--text);
}

.anchor{
    width: 100%;
    position: relative;
}

/* formats small image titles */
.image-small-title{
    position: absolute;
    bottom:30px;
    left:10px;
    font-size: 20px;
    color: var(--background);
    background-color: var(--text);
}

/* adds hover animation */
.anchor:hover, .project-1:hover{
    margin: 0;
    box-shadow: inset 0px 0px 10px var(--shadow) , 0 0 20px var(--shadow) ;
    transform: scale(1.01);
}

/* formats links at bottom */
.contact-links{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    font-weight: 700;
}

.contact-links a{
    color:var(--text);
    font-size: large;
}

/* creates hover animation */
.contact-links :hover {
    color: var(--accent);
}

/* creates resonse to sizing */
@media screen and (max-width: 800px) {
    .gallery-images{
        width: 100%;
    }
}

@media screen and (max-width: 725px) {
    .header {
        flex-direction: column;
        height: 100%;
    }
    .header-title img{
        display: flex;
        flex-direction: row;
        max-height: 25%;
        max-width: 25%;
    }

    .header-title{
        display: flex;
        align-items: center;
    }

    .header-title h1{
        padding:12px;
    }

    .links{
        background-color: var(--text);

    }
    .links a {
        color:var(--background);
    }
    .side-title{
        padding:0;
        padding-right: 5px;
        margin: 0;
    }
}



@media screen and (max-width: 600px){
    .side-title{
        font-size: small;
    }
    .image-large-title{
        font-size: 6px;
    }
    .image-small-title{
        font-size: 12px;
    }
}

@media screen and (max-width: 530px){
    .side-title {
        font-size: x-small;
    }
}

@media screen and (max-width: 450px){
    .contact-links{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 375px){
    .side-title {
        font-size: xx-small;
        padding:0;
        padding-right: 2px;
        margin: 0;
    }
    .figure-label{
        color:var(--text);
    }
}
